body {
	background: black;
}
hr{
	color:white;
}
.container{
		background: #333333;
}
#missionDiv{
	border-color: #304eff;
	color:#4FFF31;
}
#top{
	color:#4FFF31;
}
.btn-royal{
	background-color:#304eff;
	color:white;
}
h1{
	text-align: center;
	color:#4FFF31;
}
h3{
	color:#304eff;
}