body {
	background: white;
}
hr{
	color:white;
}
p{
	color:#4FFF31;
}
.container{
		background: #3F403E;
}
#missionDiv{
	border-color: #304eff;
	color:#4FFF31;
}
#champs{
	background: #BDBFBA;
}
#top{
	color:#4FFF31;
}
.btn-royal{
	background-color:#304eff;
	color:white;
}
h2{
	color:#304eff;
}
h1{
	text-align: center;
	color:#4FFF31;
}
h3{
	color:#304eff;
}
/*
	main: white;
	1shade: #3F403E;
	2shade: #BDBFBA;

	Text: #4FFF31;

	headings: #304eff;
*/