<div class="container">
	<div class = "row">
		<div class="col-sm-4 col-sm-offset-4">
			Please Select a lane: <select name="role" id="role" ng-model="roleSel" ng-options="roles.value for roles in roleList" ng-change="test()"></select>
		</div>
	</div>
	<div class="row" id="missionDiv" ng-repeat="dis in display" >
		<div ng-if="dis.champs.length>0">
			<div class="row">
			<h1 style="color: white"> level {{dis.title}} </h1>
			<div class="col-sm-3">
				<h3> Objective</h3>
				<h4> {{dis.desc.obj}} </h4>
			</div>
			<div class="col-sm-3">
				<h3>Condition</h3>
				<h4> {{dis.desc.cond}} </h4>
			</div>
			<div class="col-sm-4">
				<h3>Reasoning</h3>
				<h4> {{dis.desc.why}} </h4>
			</div>
		</div>
		<hr>
		<div class="row">
		<div class="col-sm-2" ng-repeat="champ in dis.champs">
			<input type="checkbox" ng-model="Test" ng-change="levelup(dis,champ)"><img src="http://ddragon.leagueoflegends.com/cdn/5.20.1/img/champion/{{champ.champion.image.full}}" height="16px">{{champ.champion.name}}
		</div>
		</div>
		</div>
	</div>
</div>
