<div class="container">
	<div class = "row">
		<div class="col-sm-4 col-sm-offset-4" id="top">
			Please Select a lane: <select name="role" id="role" ng-model="roleSel" ng-options="roles.value for roles in roleList" ng-change="test()"></select>
		</div>
	</div>
	<div class="row" id="missionDiv" ng-repeat="dis in display" >
		<div ng-if="dis.champs.length>0">
			<div class="row">
			<h1 style="color: white"> level {{dis.title}} </h1>
			<div class="col-sm-3">
				<h3> Objective</h3>
				<h4> {{dis.desc.obj}} </h4>
			</div>
			<div class="col-sm-3">
				<h3>Condition</h3>
				<h4> {{dis.desc.cond}} </h4>
			</div>
			<div class="col-sm-4">
				<h3>Reasoning</h3>
				<h4> {{dis.desc.why}} </h4>
			</div>
		</div>
		<hr>
		<div class="row">
		<div class="col-sm-2" ng-repeat="champ in dis.champs">
			<input type="checkbox" ng-model="Test" ng-change="levelup(dis,champ)"><img src="http://ddragon.leagueoflegends.com/cdn/5.20.1/img/champion/{{champ.champion.image.full}}" height="16px">{{champ.champion.name}}
		</div>
		</div>
		</div>
	</div>
	<div>
		<h1>So what is the purpose of this?</h1>
		<p>This is a tool made specificly for people who are struggling in lower levels of ranked play. If these players are able to improve their last hitting, these people will see that climbing the ranked ladder is much easier.</p>
		<br>
		<h1>How do you use this?</h1>
		<p>all you need to do is select a role, and champions will autofill and will give you objectives.</p>
		<br>
		<h1>cant you just hit the checkmark for each champion</h1>
		<p> you can, however your not going to improve if you do, it's on you</p>
		<br>
		<h1>Current features I am working on </h1>
		<li> <ul>finding a way to save (this is not a priority as of now)</ul><ul>improving functionality of the site (allowing to reset champions)<ul></li>
	</div>
</div>
