<div class = "container">
	<div class ="row">
		<div class ="col-sm-4 col-sm-offset-4">
			<div class="input-group">
				<input type="text" id="summonerName" class="form-control" ng-model="summonerName" ng-init="summonerName=''" ng-keypress="searchSummoner($event)">
				<span class="input-group-btn">
						<select name="region" class="form-control" style="width: 82px" ng-model="selRegion" ng-options="region.value for region in regionList"></select>
						</span>
						<span class="input-group-btn">
							<button type="button" class="btn btn-royal" ng-click="searchSummoner({keyCode: 13})">R</button>
						</span>
			</div>
		</div>
	</div>
</div>